{% extends "student/base.html" %}

{% block title %}Практики{% endblock %}

{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="order-md-2">
            <div class="row row-cols-1 row-cols-md-2 g-3">
                {% if practices %}
                    {% for practice in practices %}
                        {% include "student/practice_card.html" %}
                    {% endfor %}
                {% else %}
                    <div class="col">
                        <h2>Практик нет!</h2>
                    </div>
                {% endif %}
            </div>
            <div class="pagination justify-content-center mt-4">
                <div id="pagination-buttons-container">
                    <!-- Кнопки пагинации будут отображены здесь -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
