{% extends "supervisorOPOP/base.html" %}

{% block title %}Удаление практики{% endblock %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>Вы уверены, что хотите удалить практику: "{{ object.title }}" ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Да, хочу удалить</button>
                <button type="button" class="btn btn-secondary" id="cancel-btn">Отмена</button>
            </div>
        </form>
    </div>
{% endblock content %}